@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'EB Garamond';
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #b38379;
  border-radius: 4px;
}
