@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Niconne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: 'EB Garamond', serif;
}

.niconne-regular {
  font-family: 'Niconne', cursive;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}
